<div class="header">
	<ul class="menu">
		<li><a href="#!/" class="ui-link" ng-class="{active: isPage('home')}">Home</a></li>
		<li><a href="#!/work" class="ui-link" ng-class="{active: isPage('work')}">Portfolio</a></li>
		<li><a href="#!/blog" class="ui-link" ng-class="{active: isPage('blog')}">Blog</a></li>
		<li><a href="#!/about" class="ui-link" ng-class="{active: isPage('about')}">About</a></li>
		<li><a href="#!/contact" class="ui-link" ng-class="{active: isPage('contact')}">Contact</a></li>
	</ul>
</div>